.Hero{
    height: 100vh;
    width:100vw;
    background-color: rgb(162, 229, 238);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}
.hero2{
    margin-top: 15vh;
    background-color: rgb(162, 229, 238);
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

      
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}

.hero2 img{
    
    height: 100%;
    object-fit: contain;   /* use cover if you want full fill */
    border:10px solid rgb(162, 229, 238) ;
    border-radius:50px;

}
.content{
    padding-left: 20px;
    color:black;
    left:0;
    width:50%;
    line-height: 1.2;
}
.content h3{
    background-color: rgb(162, 229, 238);
    border-radius: 10px;
    width:max-content;
}

.content p{
    color: grey;
    padding:20px 0px;
}
.watchbutton{
    background-color: #1F5F99;
    transition: 0.3s ease;

}
.learnmore:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
                        
}
.learnmore:focus-visible{
    outline-offset: 1px;
}
.watchbutton:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
                        
}
.watchbutton:focus-visible{
    outline-offset: 1px;
}
       
.learnmore{
    background-color: #C63A3A;
    transition: 0.3s ease;
}


ul{
    display:flex;
    justify-items: center;
}
ul li{
    list-style: none;
    margin:10px
}

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}
