.login{
    background-color: hsl(349, 61%, 93%);
    height: 100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1 {
    margin-top: 15vh;
    background-color:hsl(349, 61%, 93%);
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 img {
    height: 100%;
    object-fit: contain;   /* use cover if you want full fill */
    border:10px solid hsl(349, 61%, 93%) ;
    border-radius:50px;
}
.box2{
    margin-top:12vh;
    background-color: whitesmoke;
    width: 50vw;
    height: 80vh;
    margin-left: 5px;
    border:10px solid hsl(349, 61%, 93%) ;
    border-radius:50px;
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.headinglogin{
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;

}
.headinglogin2 p{
    color:grey

}
.inputs{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.inputs input{
    color:black;
    background-color: white;
    width:30vw;
    height:40px;
    margin:5px;
    border: 0px;
    border-radius: 10px;
    padding:5px
}
input:focus {
  outline: 2px solid #ff3b7d;
  border-color: #ff3b7d;
}

.start{
    margin:10px;
    background-color: #4C7BAB;
}