/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* MAIN CONTAINER */
.createjoin {
  min-height: calc(100vh - 70px); /* adjust navbar height if needed */
  background-color: #aeeef2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  width:100vw;
  height:100vh;

}

/* HEADING */
.createjoin h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  color: #000;
}

/* FLEX WRAPPER FOR CARDS */
.dibba {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

/* COMMON CARD STYLES */
.dibba1,
.dibba2 {
    margin: 20px;
  background: #f5fbff;
  width: 260px;
  min-height: 200px;
  border-radius: 18px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

.join{
    margin-top: 40px;
background-color: #C63A3A;
transition: 0.3s ease-in-out;
}
.join:hover,.create:hover{
    
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
                        

}
.create{
    margin-top:40px;
    background-color: #1F5F99;
    transition: 0.3s ease-in-out;
}